NAME=viewset_and_generic_db
USER=postgres
PASSWORD=your_password
HOST=localhost
PORT=5432
SECRET_KEY=your_secret_key
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
EMAIL_HOST_USER=your_email
EMAIL_HOST_PASSWORD=your_email_password
STRIPE_SECRET_KEY=your_stripe_key
DEBUG=False
